<div class="container">
<section class="user">
	<h2>Liste des users</h2>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Role</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>N° Fax</th>
			<th>N° Tel</th>
			<th>Email</th>
			<th>Adresse</th>
			<th>CP</th>
			<th>Ville</th>
			<th>Pays</th>
			<th>Login</th>
			<th>MDP</th>
			<th colspan="2"></th>
		</tr>


		<tr ng-repeat="user in userCtrl.users">
			<td>{{user.id}}</td>
			<td>{{user.role}}</td>
			<td>{{user.nom}}</td>
			<td>{{user.prenom}}</td>
			<td>{{user.numeroFax}}</td>
			<td>{{user.numeroTel}}</td>
			<td>{{user.email}}</td>
			<td>{{user.adresse.adresse}}</td>
			<td>{{user.adresse.codePostal}}</td>
			<td>{{user.adresse.ville}}</td>
			<td>{{user.adresse.pays}}</td>
			<td>{{user.login}}</td>
			<td>{{user.motDePass}}</td>
			<td><a class="btn btn-info btn-xs"
				ng-click="userCtrl.edit(user.id)">Editer</a></td>
			<td><a class="btn btn-info btn-xs"
				ng-click="userCtrl.remove(user.id)">Supprimer</a></td>
		</tr>

		<tr>
			<!-- <td colspan="5"><div class="dropdown">
					<button class="btn btn-info">Ajout User</button>
					<div class="dropdown-content">
						<a ng-click="userCtrl.addUserPhysique()">Physique</a>
						<a ng-click="userCtrl.addUserMoral()">Moral</a>
						<a ng-click="userCtrl.addUserEI()">EI</a>
					</div>
				</div></td> -->

			<td colspan="100"><button class="btn btn-info"
					ng-click="userCtrl.addUser()">Ajout User</button></td>
		</tr>
	</table>

	<fieldset ng-show="userCtrl.user">
		<legend>Edition du user</legend>
		<form class="form-horizontal col-sm-5" method="post"
			ng-submit="userCtrl.save()">

			<input type="hidden" id="id" ng-model="userCtrl.user.id" />

			<div class="form-group">
				<label class="col-sm-2 control-label" for="role">Role</label>
				<div class="col-sm-10">
					<select class="form-control" id="role" ng-model="userCtrl.user.role"
						ng-options="role for role in userCtrl.roles"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="nom">Nom</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="nom" ng-model="userCtrl.user.nom" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="prenom">Prénom</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="prenom" ng-model="userCtrl.user.prenom" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="numeroFax">Fax</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="numeroFax"
						ng-model="userCtrl.user.numeroFax" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="numeroTel">Tel</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="numeroTel"
						ng-model="userCtrl.user.numeroTel" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="email">Email</label>
				<div class="col-sm-10">
					<input class="form-control"  type="email" id="email" ng-model="userCtrl.user.email" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="adresse">Adresse</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="adresse"
						ng-model="userCtrl.user.adresse.adresse" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="codePostal">CP</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="codePostal"
						ng-model="userCtrl.user.adresse.codePostal" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="ville">Ville</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="ville"
						ng-model="userCtrl.user.adresse.ville" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="pays">Pays</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="pays" ng-model="userCtrl.user.adresse.pays" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="login">Login</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="login" ng-model="userCtrl.user.login" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="motDePass">MDP</label>
				<div class="col-sm-10">
					<input class="form-control"  type="text" id="motDePass"
						ng-model="userCtrl.user.motDePass" />
				</div>
			</div>

			<div class="form-group">
			<div class="col-sm-2"></div>
				<div class="col-sm-10 text-right">
					<input type="submit" value="Valider" class="form-control btn btn-primary" />
				</div>
			</div>
		</form>
	</fieldset>
</section>
</div>
